<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand">LOGO</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
    <button mat-button color="primary">Deploy</button>
    <button mat-button color="accent">SignUp</button>
</nav>
